#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.knapper {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .container {
    /* background-color: var(--color5-blue);
    padding: 8em;
    border-radius: 8px; */
    width: 548px;
  }
}

/*
#e8dff5 //
 #fce1e4 //
  #fcf4dd // 
  #ddedea // 
  #daeaf6
  */
/* :root {
  --primary: #646cff;
  --secondary: #61dafb;
  --background: #e8dff5;
  --background-light: #fce1e4;
  --background-dark: #fcf4dd;
  --background-darker: #ddedea;
  --background-darkest: #daeaf6;
  --text: #fefefe;
  --text-light: #888;
  --text-dark: #222;
  --text-darker: #111;
  --text-darkest: #000;
  --color-primary: #e8dff5;
  --color-pink: #fce1e4;
  --color-yellow: #fcf4dd;
  --color-green: #ddedea;
  --color5-blue: #daeaf6;
  p {
    color: var(--text);
  }
} */
