#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hover-run:hover {
  animation: run 1s infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content {
  display: flex;
  justify-content: space-around;
}

/*
#e8dff5 //
 #fce1e4 //
  #fcf4dd // 
  #ddedea // 
  #daeaf6
  */
/* :root {
  --primary: #646cff;
  --secondary: #61dafb;
  --background: #e8dff5;
  --background-light: #fce1e4;
  --background-dark: #fcf4dd;
  --background-darker: #ddedea;
  --background-darkest: #daeaf6;
  --text: #fefefe;
  --text-light: #888;
  --text-dark: #222;
  --text-darker: #111;
  --text-darkest: #000;
  --color-primary: #e8dff5;
  --color-pink: #fce1e4;
  --color-yellow: #fcf4dd;
  --color-green: #ddedea;
  --color5-blue: #daeaf6;
  p {
    color: var(--text);
  }
} */
